
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Display children vertically */
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Grow to fill available space */
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

h1 {
    margin: 0;
}

.logout { /* Style the logout link */
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.logout:hover { /* Add hover effect */
    background-color: #ddd;
}

main {
    padding: 20px;
    flex: 1; /* Make main content take up remaining space */
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #b8f8c9; /* Light background for content */
}

section h2 {
    margin-bottom: 10px;
}

.user-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-info li {
    margin-bottom: 5px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.update-user-btn {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-user-btn {
    background-color: #f1344b; /* Green background */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;
}